{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stuckdoku</title>
    <link href="{% static 'sudoku/index.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1><em>Stuckdoku</em></h1>
    <div id="button-container">
      <div class="container">
        <h2>Play</h2>
        <div class="button" style="display:flex">
          <div style="padding: 10px">
            <a href="{% url 'sudoku' %}"
              ><img src="{% static 'assets/new.png' %}"
            /></a>
            <p>New</p>
          </div>
          <div style="padding:5px">
            <form action="process.py" method="post" enctype="multipart/form-data">
              <label for ="imageInput">
                <img src="{% static 'assets/stuck.png' %}" alt="Upload Image" style="cursor:pointer;">
              </label>
              <input type="file" name="image" id="imageInput" accept="image/*" style="display:none;">
              <button type="submit" style="display:none">Process Image</button>
            </form>
            <p>Upload</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="button">
          <h2>Stuck</h2>
          <form action="process.py" method="post" enctype="multipart/form-data">
            <label for ="imageInput">
              <img src="{% static 'assets/stuck.png' %}" alt="Upload Image" style="cursor:pointer;">
            </label>
            <input type="file" name="image" id="imageInput" accept="image/*" style="display:none;">
            <button type="submit" style="display:none">Process Image</button>
          </form>
          <p>Upload</p>
        </div>
      </div>
    </div>
  </body>
</html>
