{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stuckdoku</title>
    <link href="{% static 'sudoku/index.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1><em>Stuckdoku</em></h1>
    <div id="button-container">
      <div class="container">
        <h2>Play</h2>
        <div class="button" style="display:flex">
          <div style="padding: 10px">
            <a href="{% url 'sudoku' %}"
              ><img src="{% static 'assets/new.png' %}"
            /></a>
            <p>New</p>
          </div>
          <div style="padding:5px">
              <label for ="photoInput" style="cursor:pointer;">
                <img id="photoPreview" src="{% static 'assets/stuck.png' %}" alt="Selected Photo;">
              </label>
              <input type="file" accept="image/*" capture="camera" id="photoInput" style="display:none;">
              
              <script>
                  // Function to display the selected image
                  function showPreview(event) {
                      const input = event.target;
                      const preview = document.getElementById("photoPreview");

                      if (input.files && input.files[0]) {
                          const reader = new FileReader();

                          reader.onload = function (e) {
                              preview.src = e.target.result;
                          };

                          reader.readAsDataURL(input.files[0]);
                      }
                  }
              </script>
            <p>Upload</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="button">
          <h2>Stuck</h2>
          <a href="{% url 'stuck' %}"
            ><img src="{% static 'assets/stuck.png' %}"
          /></a>
          <p>Upload</p>
        </div>
      </div>
    </div>
  </body>
</html>
